@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
